# Global parameters
[global]
	workgroup = PROGRESSOFT
	realm = PROGRESSOFT.CLOUD
	netbios name = DC
	server role = active directory domain controller
	dn# Global parameters
[netlogon]
	path = /var/lib/samba/sysvol/progressoft.cloud/scripts
	read only = No

[sysvol]
	path = /var/lib/samba/sysvol
	read only = No
